@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');


body{
    font-family: 'Noto Sans JP', sans-serif;
}
.container .headline{
    padding-left: 30rem;
    font-size:30px;
    margin-top: 0.5rem;
} 
header{
    background: #00cccc;
    left: 0;
    height: 60px;
    border-radius: 1rem;
}
header::after{
    content: '';
    display: table;
    clear: both;
}

.container{
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5rem;
}
div{
    float: left;
}
nav{
    float: right;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    display: inline-block;
    margin-left: 30px;
    padding-top: 20px;
    position: relative;
}
nav a{
    color: #444;
    text-decoration: none;
}
nav a:hover{
    color: black;
}
nav a::before{
    content: '';
    display: block;
    height: 3px;
    width: 0%;
    background-color: #444;
    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;

}
nav a:hover::before{
    width: 100%;
}
.footer {
    background-color:#99bbff;
    padding: 2rem 1rem;
    text-align: center;
    color: black;
    margin-top: 100px;
    border-top-left-radius: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  
  .footer .link {
    color: #b30086;
  }
  .footer .footer-header {
    font-weight: bold;
    font-size: 101%;
    
  }
  
  .footer ul {
    padding-inline-start: 0px;
  }
  .upper {
    margin-top: 100px;
  }
  .list-non-bullet{
      list-style:none;
  }
  .list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
  }
  .last-line{
      padding-left: 35rem;
  }
  .api-color{
      color: #b30086;
  }
  